<a href="https://medium.com/@vadimkorr/implementing-nested-custom-controls-in-angular-5-c115c68e6b88">Form one</a>
<h1>MAin FOrm</h1>
<div class="form-controls">
  <form [formGroup] ="nestedForm" (ngSubmit) = "onSubmit()" >
  <input type="text" formControlName="fname">
  <app-custom-form formControlName='email'></app-custom-form>
  <hr>
  <app-example-two formControlName='areacode'></app-example-two>
  <app-address-form formControlName='address'></app-address-form>
  <button type="submit" >Place Order</button>
  <!-- <button type="submit" [disabled]="nestedForm.invalid">Place Order</button> -->
</form>
</div>
<br><br><hr><hr>
<div class="form-values">
    <button (click)="testPatch()" >TEST PATCHVALUES</button>
    <!-- <button type="submit" >Place Order</button> -->
<p>values:{{formValues | json}}</p> 

</div>